<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="../Model/main.js" type="module" defer></script>
    <title>To Do App</title>
</head>
<body>
    <div class="page">
        <div class="column-left" style="background-color:#FFB695;">
            <div class="project-div">
                <input type="text" placeholder="enter projectname..." id="proj_name">
                <button class="add-proj-btn">Add Project</button>
                <div class="project-list">
                    
                </div>
            </div>
        </div>
        <div class="column-right" style="background-color:#96D1CD;">
            <div class="todo-div">
                <div class="btn-div">
                    <input type="text" placeholder="enter todo..." id="todo_title">
                    <input type="text" placeholder="enter description..." id="todo_desc">
                    <select name="todo_prio_select" id="todo_prio">
                        <option value="volvo">high</option>
                        <option value="saab">medium</option>
                        <option value="opel">low</option>
                      </select>
                    <button class="add-todo-btn">+</button>
                </div>
                <div class="todo-list">
                    
                </div>
            </div>
        </div>
    </div></body></html>
</body>
</html>
