<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <div class="column-left" style="background-color:#FFB695;">
            <h2>Column 1</h2>
            <input type="text" placeholder="enter projectname...">
            <button class="add-proj-btn">Add Project</button>
        </div>
        <div class="column-right" style="background-color:#96D1CD;">
            <h2>Column 2</h2>
            <div class="btn-div">
                <button class="add-todo-btn">+</button>
            </div>
        </div>
    </div>
</body>
</html>
